Change client-not-existing error to 401

[Current]
If the client does not exist on this server, the server MUST return an HTTP 403 Forbidden.

[Proposed]
If the client does not exist on this server, the server treat the given token as invalid and
MUST return HTTP 401 Unauthorized as described in RFC 6750 Section 3.1.

 -- nov matake
